@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

.banner { background-image: url("../img/lemon-pie2.jpg");
background-size: cover;
background-position: right;
height: 343px;
text-align: start;
}

body {text-align: justify;
    font-family: 'Roboto Slab', serif;
    background-color:darkgoldenrod ;
}

.texto { padding-top: 100px;

}

h2 {color: white;
    font-family:'Roboto Slab', serif;
}

h1 { color: white;
font-size: 53px;
font-family: 'Merriweather Sans', sans-serif;
}

h2 {font-size: 20px;}


h3 {font-style: italic;}


h4 {font-size: 25px;
font-style: bold;
font-family: 'Righteous', cursive;} 
