@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{ box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.caja1 { width: 100%;
    height: 30px;
    position: relative;
    left: 0;
    top: 0;
    background-color: #1cd1b0 ;

}

.caja1texto { width: 100%;
    height: auto ;
    position: relative;
    left: 20px;
    top: 8px;
    bottom: 0%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.cajazul { position: sticky;
    left: 0%;
    top: 0%;
    z-index: 10;
    background-color: #00669f;
    width: 100%;
    height: 60px;
    box-shadow: 0px 10px 7px rgba(0,0,0, 0.25);
}

.cajaazultexto { position: relative;
    left: 20px;
    top: 10px;
    bottom: 0px;
    color: white;
    font-size: 35px;

}

.CardSuperheroes {position: relative;
    background-color: #f3f3f3;
    margin: 15%;
    left: 25%;
    width: 325px;
    height: 580px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 4px 4px  rgba(0,0,0, 0.25);


}

.superheroefondo {
    background-position: center;
    height: 200px ;
    width: 325px ;
    position: relative;
    z-index: 1;
    border-radius: 50px 50px 0px 0px;
    background-size: 180%;
}

.bg-batman { background-image: url(../img/bg-batman.jpg);

}


.bg-maravilla { background-image: url(../img/bg-wonderw.jpg);

}


.bg-superman { background-image: url(../img/bg-superman.jpg);
}


.fotoperfil { 
    background-position: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 105px;
    z-index: 3;
    background-position-x: -100px;
    background-position-y: 0px;
    background-size: 240%;
    background-repeat: no-repeat;
}


.foto-batman { background-image: url(../img/batman.jpg);

    }
    

.foto-maravilla { background-image: url(../img/wonderw.jpg);
    
    background-position: center;}

.foto-superman {background-image: url(../img/superman.jpg);
    background-position: center;
    
}

.titulo { position: relative;
    bottom: 90px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-weight: bold;
    
    
}

.descripcion { text-align: justify;
    padding: 40px;
    position: relative;
    bottom: 170px;
    font-weight: bold;
    
}

.boton { width: 130px;
    height: 47px;
    padding: 15px 10px 15px 35px;
    color: #f3f3f3;
    border-radius: 3px;
    position: absolute;
    bottom: 4%;
    left: 97.5px;
    background-color: #00669f;

}

.ver-mas {color: white;

}


.fa-heart {position: absolute;
    color: #CC2424;
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: -400px;
    z-index: 1;
}

.fa-plus-circle { position:sticky, relative;
    font-size: 70px;
    background-color: honeydew;
    border-radius: 60px;
    color: #00669F;
    position: absolute;
    right: 20%;
    bottom: -15%;


}

.caja-footer { position: relative;
    width: 100%;
    height: 50px;
    top: 100px;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.derechos {color: #FFF9F9;
    text-align: center;
    position: relative;
    top: 17px;
    font-weight: bold;}


.github { width: 160px;
    height: 44px;
    background-image: url(../img/github.png);
    background-size: 80%;
    background-repeat: no-repeat;
    margin: 4px;
    position: absolute;
    bottom: -5px;
    right: 50px;}

    