*{box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Karla:wght@300&family=Roboto:ital@1&display=swap');


body { font-family: 'Roboto', sans-serif;

}


.caja1{ height: 25px;
    width: auto;
    background-color:#1CD1B0;
    color: black;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px;
   
 }
 
 .caja2{height: 55px;
    background-color: #00669F;
    color: white;
    font-size: 30px;
    text-align: start;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
 }
 

 #IMG { height: 50px;

 }

 .caja3 { height: 30px;
    background-color:#001D2D;;
    box-shadow: 0px 10px 7px rgba(0,0,0, 0.20);
    color: white;
    padding-top: 10px;
    padding-right: 30px;
    text-align: end;
    word-spacing: 30px;
 }

 .CardSuperheroes {position: relative;
    background-color: #f3f3f3;
    margin-top: 100px;
    margin-left: 340px;
    width: 325px;
    height: 580px;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 4px 4px  rgba(0,0,0, 0.25);

}

.CardSuperheroes1{ margin-top: -578px;
    margin-left: 790px;

}

.CardSuperheroes2 { margin-top: -578px;
    margin-left: 1240px;

}

.superheroefondo {
    background-position: center;
    height: 200px ;
    width: 325px ;
    position: relative;
    z-index: 1;
    border-radius: 50px 50px 0px 0px;
    background-size: 180%;
}

.bg-batman { background-image: url(./IMG/bg-batman.jpg);

}


.bg-harley { background-image: url(./IMG/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
background-size: 100%;
background-repeat: no-repeat;
}


.fotoperfil { position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}


.foto-batman { background-image: url(./IMG/batman.jpg);
    position: absolute;
    width: 122px;
    height: 122px;
    left: 105px;
    top: 110px;
    border-radius: 50%;
    z-index: 1;
    background-position-x: -100px;
    background-position-y: 0px;
    background-size: 240%;
}


.foto-batman1 { background-image: url(./IMG/batman.jpg);
    position: absolute;
    width: 122px;
    height: 122px;
    left: 105px;
    top: 110px;
    border-radius: 50%;
    z-index: 1;
    background-position-x: -100px;
    background-position-y: 0px;
    background-size: 240%;
}


.foto-harley { background-image: url(./IMG/liga-justicia-batman-kO4H--1024x512@abc\ 1.png);
    position: absolute;
    width: 122px;
    height: 122px;
    left: 105px;
    top: 110px;
    border-radius: 50%;
    z-index: 1;
}


.titulo { 
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-weight: bold;
    padding-top: 30px;
    
}

.descripcion { 
    position: absolute;
    text-align: justify;
    width: 280px;
    height: 113px;
    left: 20px;
    top: 310px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 19px;
    z-index: 1;
}


.boton { width: 130px;
    height: 47px;
    padding: 15px 10px 15px 35px;
    color: #f3f3f3;
    border-radius: 3px;
    position: absolute;
    bottom: 4%;
    left: 97.5px;
    background-color: #00669f;

}

.ver-mas {color: white;

}


.fa-heart {position: relative;
    color: #CC2424;
    left: 6%;
    right: 50%;
    top: -300px;
    font-size: 35px;
    z-index: 1;
}



 .caja-footer {position: relative;
    width: auto;
    height: 50px;
    margin-bottom: 0px;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 
 
  .derechos {color: #FFF9F9;
     text-align: center;
     position: relative;
     top: 17px;
     }
 
     .fa-plus-circle { position: absolute;
  z-index: 15;
  left: 1700px;
  bottom: 400px;
  background-color: white;
  color:#00669f;
  font-size: 50px;
  border-radius: 50%;
     }